@font-face {
	font-family: 'SofiaPro';
	src: url('../fonts/Sofia Pro Regular.ttf');
	font-weight: normal;
}
@font-face {
	font-family: 'SofiaPro';
	src: url('../fonts/Sofia Pro Light.ttf');
	font-weight: 300;
}
@font-face {
	font-family: 'SofiaPro';
	src: url('../fonts/Sofia Pro Medium.ttf');
	font-weight: 500;
}
@font-face {
	font-family: 'SofiaPro';
	src: url('../fonts/Sofia Pro SemiBold.ttf');
	font-weight: 600;
}
@font-face {
	font-family: 'SofiaPro';
	src: url('../fonts/Sofia Pro Bold.ttf');
	font-weight: bold;
}